.top-header {
	margin-top: 150px;
}

h1 {
	text-align: center;
	padding: 10px 0;
	color: green;
}

.georgian {
	color: blue;
}

.razvan {
	color: pink;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}